:host {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: 1fr;
  height: 100%;
}

#left {
  resize: horizontal;
}

#left,
#right {
  overflow: auto;
  min-width: 1vw;
  max-width: 99vw;
}

#right {
  display: grid;
  grid-template-rows: 1fr auto;
  border-left: 1px solid #ddd;
}

section {
  padding: 2rem;
  min-height: 0;
}

#section-inputs,
#section-welcome {
  border-bottom: 1px solid #ddd;
}

#section-results {
  overflow: auto;
  border-bottom: 1px solid #ddd;
}

#section-outputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

code {
  display: inline-block;
  background-color: #f0f1f2;
  border-radius: 6px;
  margin: 0;
  padding: 0.2em 0.4em;
  font-size: 85%;
}

p {
  font-size: 16px;
  line-height: 1.65;
}

@media (max-width: 600px) {
  :host {
    display: block;
  }

  section {
    padding: 1rem;
    overflow: auto;
  }

  #section-extras,
  #section-welcome,
  #section-inputs {
    border-bottom: 1px solid #ddd;
  }

  #right {
    border-left: none;
  }

  #section-outputs > span {
    flex: 1 0 100%;
  }
}
