:host {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  height: 100%;
}

#left {
  display: grid;
  grid-template-rows: auto 1fr;
}

#right {
  display: grid;
  grid-template-rows: auto 1fr auto;
}

section {
  padding: 2rem;
  min-height: 0;
  overflow: hidden auto;
}

#section-welcome {
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

#section-inputs {
  border-right: 1px solid #ddd;
}

#section-extras,
#section-results {
  border-bottom: 1px solid #ddd;
}

#section-outputs {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

@media (max-width: 600px) {
  :host {
    display: block;
  }

  section {
    padding: 1rem;
    overflow: auto;
  }

  #section-welcome,
  #section-inputs {
    border-bottom: 1px solid #ddd;
    border-right: none;
  }

  #section-outputs > span {
    flex: 1 0 100%;
  }
}
