.input {
  display: flex;
  gap: 1rem;
  border-bottom: 1px dashed #ddd;
  padding: 1rem 0 0.5rem;
  margin-bottom: 0.5rem;
}

.spacer {
  opacity: 0.7;
  height: 56px;
  display: grid;
  place-items: center;
}

.values {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 1rem;
}

.label {
  display: flex;
  flex-direction: column;
}
